{% extends 'turf_header.html' %}
   {% block content %}
   


<section id="hero" class="d-flex align-items-center justify-content-center">
<div class="container" align="center" style=" min-height:50vh;max-height:75vh; margin-top:300px; margin-bottom: 125px; overflow:scroll; ">
      <div style=" margin-top:10px;  height:45px; margin-top:1vh;">
  <table>
  <tr><th><h3><b><a href="../view_match">Back</a></b></h3></th></tr>
  </table>
  </div>
<table class="table" style="color:red;">
    <p class="text-danger">you entered same team as opponent.. please change it..</p>
<form action="../update_match/{{row.0}}" method="POST" id="statusform">
  {% csrf_token %}
    <tr>
    <th colspan="2"><h3 ><b>Edit Match</b></h3></th>
  </tr>
    <tr>
    <td>Match Name</td>
    <td><input type="text" name="mn"  value="{{row.6}}" required style="opacity:0.6; "></td>
  </tr>
  <tr>
    <td>Team Name</td>
    <td>
      <select  name="teamid"  required style="opacity:0.6; ">
        <option value="{{row.2}}" selected>---------</option>
        {% for i in data %}
        <option value="{{i.0}}">{{i.1}}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td>Opponent Team Name</td>
    <td>
      <select  name="oteamid"  required style="opacity:0.6; ">
        <option value="{{row.3}}" selected>------</option>
        {% for i in data %}
        <option value="{{i.0}}">{{i.1}}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td>Match Date</td>
    <td><input type="date" name="date" value="{{row.4}}" required style="opacity:0.6; "></td>
  </tr>
  <tr>
    <td>Result</td>
    <td>
      <select name="result" form="statusform" style="opacity:0.6; ">
        <option value="{{row.5}}" selected>---------</option>
        <option value="won">Won</option>
        <option value="drawn">Drawn</option>
        <option value="lost">Lost</option>
      </select>
    </td>
  </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Add match" class="btn btn-success" >
</td>
    </tr>
</form>

</table>

</div>
      </section>
      {% endblock %}