{% extends 'turf_header.html' %}
   {% block content %}
   


<section id="hero" class="d-flex align-items-center justify-content-center">
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
  <table style="width:100%; color:red;" class="table">
    <tr>

        <th></th>
        <TH ></TH>

        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    <tr>

        <td colspan="7"><div class="container" align="center">No {{val}} Added Yet</div></td>
    </tr>
 </table>
</div>
</section>
{% endblock %}