{% extends 'turf_header.html' %}
   {% block content %}
   


  <section id="hero" class="d-flex align-items-center justify-content-center">
<div class="container" align="center" style=" min-height:50vh;max-height:75vh; margin-top:300px; margin-bottom: 125px; overflow:scroll; ">


<table class="table table-hover" style="color:white; text-align:left;">
  <form action="add_match" method="POST" id="statusform">
  {% csrf_token %}
  <tr>
    <th colspan="2"><h3>Register Match</h3></th>
  </tr>
    <tr>
    <td style="color:red;">Match Name</td>
    <td><input type="text" name="mn" required style="opacity:0.6; "></td>
  </tr>
  <tr>
    <td style="color:red;">Team A</td>
    <td>
      <select  name="teamid"  required style="opacity:0.6; ">
        <option value="" selected>select</option>
        {% for i in data %}
        <option value="{{i.0}}">{{i.1}}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td style="color:red;">Team B</td>
    <td>
      <select  name="oteamid"  required style="opacity:0.6; ">
        <option value="" selected>select</option>
        {% for i in data %}
        <option value="{{i.0}}">{{i.1}}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td style="color:red;">Match Date</td>
    <td><input type="date" name="date" required style="opacity:0.6; "></td>
  </tr>
  <tr>
    <td style="color:red;">Result</td>
    <td>
      <select name="result" form="statusform" style="opacity:0.6; ">
        <option value="not published" selected>Not Published</option>
        <option value="won">Won</option>
        <option value="drawn">Drawn</option>
        <option value="lost">Lost</option>
      </select>
    </td>
  </tr>
  <tr>
    <th></th>
    <td><input type="submit" value="Add match" class="btn btn-success" ></td>
  </tr>
</form>
</table>


</div>
     </section>
     {% endblock %}