{% extends 'turf_header.html' %}
   {% block content %}
   


  <section id="hero" class="d-flex align-items-center justify-content-center" style="min-height:70vh;">

  <div class="column" style="background-color: transparent; border-color: #EDA800; margin:50px;">
    <div class="content container"  style="background-color:#E3242B; width:200px;">
    <div class="container" style=" height:40px; text-align:center; color:#EDA800;"><b><h2 style="color:#EDA800;">Pool A</h2></b></div>
    <br><br>
    <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.0}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
   <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.2}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.4}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.6}}</b></div>
    </div>
     <br>
        <a href="../make_match_of_pool/{{team.64}}"><h3>Make Match</h3></a>
    <br>
        <a href="../view_match_of_pool/{{team.64}}"><h3>View Match</h3></a>
        <br>
    </div>
    </div>
 <div class="column" style="background-color: transparent; border-color: #EDA800;  margin:50px;">
    <div class="content container"  style="background-color:#E3242B; width:200px; ">
    <div class="container" style=" height:40px; text-align:center; color:#EDA800;"><b><h2 style="color:#EDA800;">Pool B</h2></b></div>
    <br><br>
    <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;">{{team.8}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
   <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.10}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.12}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.14}}</b></div>
    </div>
     <br>
        <a href="../make_match_of_pool/{{team.65}}"><h3>Make Match</h3></a>
    <br>
        <a href="../view_match_of_pool/{{team.65}}"><h3>View Match</h3></a>
        <br>
    </div>
    </div>
<div class="column" style="background-color: transparent; border-color: #EDA800;  margin:50px;">
    <div class="content container"  style="background-color:#E3242B; width:200px;">
    <div class="container" style=" height:40px; text-align:center; color:#EDA800;"><b><h2 style="color:#EDA800;">Pool C</h2></b></div>
    <br><br>
    <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.16}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
   <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.18}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.20}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.22}}</b></div>
    </div>
     <br>
        <a href="../make_match_of_pool/{{team.66}}"><h3>Make Match</h3></a>
    <br>
        <a href="../view_match_of_pool/{{team.66}}"><h3>View Match</h3></a>
        <br>
    </div>
    </div>
 <div class="column" style="background-color: transparent; border-color: #EDA800;  margin:50px;">
    <div class="content container"  style="background-color:#E3242B; width:200px;">
    <div class="container" style=" height:40px; text-align:center; color:#EDA800;"><b><h2 style="color:#EDA800;">Pool D</h2></b></div>
    <br><br>
    <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.24}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
   <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.26}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.28}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.30}}</b></div>
    </div>
     <br>
        <a href="../make_match_of_pool/{{team.67}}"><h3>Make Match</h3></a>
    <br>
        <a href="../view_match_of_pool/{{team.67}}"><h3>View Match</h3></a>
        <br>
    </div>
    </div>
  </section>
    <section id="hero" class="d-flex align-items-center justify-content-center" style="min-height:70vh;">
  <div class="column" style="background-color: transparent; border-color: #EDA800; margin:50px;">
    <div class="content container"  style="background-color:#E3242B; width:200px;">
    <div class="container" style=" height:40px; text-align:center; color:#EDA800;"><b><h2 style="color:#EDA800;">Pool E</h2></b></div>
    <br>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
   <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.32}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.34}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.36}}</b></div>
    </div>
    <br>
    <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.38}}</b></div>
    </div>
         <br>
        <a href="../make_match_of_pool/{{team.68}}"><h3>Make Match</h3></a>
    <br>
        <a href="../view_match_of_pool/{{team.68}}"><h3>View Match</h3></a>
        <br>
    </div>
    </div>
 <div class="column" style="background-color: transparent; border-color: #EDA800; margin:50px;">
    <div class="content container"  style="background-color:#E3242B; width:200px;">
    <div class="container" style=" height:40px; text-align:center; color:#EDA800;"><b><h2 style="color:#EDA800;">Pool F</h2></b></div>
    <br>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
   <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.40}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.42}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.44}}</b></div>
    </div>
    <br>
    <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;">{{team.46}}</b></div>
    </div>
      <br>
        <a href="../make_match_of_pool/{{team.69}}"><h3>Make Match</h3></a>
    <br>
        <a href="../view_match_of_pool/{{team.69}}"><h3>View Match</h3></a>
        <br>
    </div>
    </div>
<div class="column" style="background-color: transparent; border-color: #EDA800; margin:50px;">
    <div class="content container"  style="background-color:#E3242B; width:200px;">
    <div class="container" style=" height:40px; text-align:center; color:#EDA800;"><b><h2 style="color:#EDA800;">Pool G</h2></b></div>
    <br>
        <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
   <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.48}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.50}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.52}}</b></div>
    </div>
    <br>
    <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.54}}</b></div>
    </div>
     <br>
        <a href="../make_match_of_pool/{{team.70}}"><h3>Make Match</h3></a>
    <br>
        <a href="../view_match_of_pool/{{team.70}}"><h3>View Match</h3></a>
        <br>
    </div>
    </div>
 <div class="column" style="background-color: transparent; border-color: #EDA800; margin:50px;">
    <div class="content container"  style="background-color:#E3242B; width:200px;">
    <div class="container" style=" height:40px; text-align:center; color:#EDA800;"><b><h2 style="color:#EDA800;">Pool H</h2></b></div>
    <br><br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
   <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.56}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.58}}</b></div>
    </div>
    <br>
        <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.60}}</b></div>
    </div>
    <br>
    <div class="container" style=" height:50px; text-align:center; border-style: solid;border-color: #EDA800; padding-top:5px; ">
    <div style="padding-top:7px;"><b style="color:#EDA800;"> {{team.62}}</b></div>
    </div>
     <br>
        <a href="../make_match_of_pool/{{team.71}}"><h3>Make Match</h3></a>
    <br>
        <a href="../view_match_of_pool/{{team.71}}"><h3>View Match</h3></a>
        <br>
    </div>
    </div>
      </section>
      {% endblock %}