{% extends 'turf_header.html' %}
   {% block content %}
   


  <section id="hero" class="d-flex align-items-center justify-content-center">
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
             <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
{% endif %}

<table class="table table-hover" style="color:white; text-align:left;">
    <form action="../add_team" method="POST" id="statusform" enctype="multipart/form-data">
        <input type="hidden" name="compid" value="{{id}}">
  {% csrf_token %}
  <tr><th colspan="2"><h3 >Register Team</h3></th></tr>
  <tr>
    <th style="color:red;">Team Name :</th>
    <td><input type="text" name="name" required style="opacity:0.6; "></td>
  </tr>
    <tr>
    <th style="color:red;">Address :</th>
    <td><input type="text" name="address" required style="opacity:0.6; "></td>
  </tr>
    <tr>
    <th style="color:red;">Phone Number :</th>
    <td>
       <input type="number"  name="phone"  required style="opacity:0.6; " pattern="[6-9]{1}[0-9]{9}"></input>
    </td>
  </tr>

    <th style="color:red;">Email Id :</th>
    <td><input type="email" name="email" required style="opacity:0.6; " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></td>
  </tr>
  <tr>
    <th style="color:red;">No Of Trophy :</th>
    <td><input type="number" name="trophy" required style="opacity:0.6; " min="0"></td>
  </tr>
  <tr>
    <th style="color:red;">Founded in :</th>
    <td>
       <input type="number"  name="year" min="1910" max="2022" required style="opacity:0.6; "></input>
    </td>
  </tr>
    <tr>
    <th style="color:red;">Location :</th>
    <td><input type="text" name="location" required style="opacity:0.6; "></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Add Team"class="btn btn-success " ></td>
  </tr>

</form>

</table>

</div>
  </section>
  {% endblock %}