{% extends 'user_headernologout.html' %}
   {% block content %}
   

<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.center{
  margin: auto;
  width: 300px;
  padding: 10px;
}
</style>

  <section id="hero" class="d-flex align-items-center justify-content-center">
<div class="container" align="center" style=" min-height:50vh;max-height:75vh; margin-top:300px; margin-bottom: 125px; overflow:scroll; ">



<table style="width:100%; color:white; text-align:left;" class="table">
    <tr><th colspan="7"><h3>Registered Matches</h3></th></tr>
    <tr>
        <th>Sl No.</th>
        <th>Discription</th>
        <th>Posters</th>

    </tr>
{% for data in adv %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{data.2}}</td>
        <td> <a href="../media/{{data.3}}"><img style="width:120px; height:120px; " src="../media/{{data.3}}"></a></td>
    </tr>
{% endfor %}
</table>

</div>
      </section>
      {% endblock %}