{% extends 'user_header.html' %}
   {% block content %}
   

<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.center{
  margin: auto;
  width: 300px;
  padding: 10px;
}
</style>

  <section id="hero" class="d-flex align-items-center justify-content-center">
<div class="container" align="center" style=" min-height:50vh;max-height:75vh; margin-top:300px; margin-bottom: 125px; overflow:scroll; ">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
             <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
{% endif %}
<table style="width:90%; color:white; text-align:left;"   class="table table-hover" >
    <tr>
        <th colspan="10"><h3>Teams</h3></th>
    </tr>
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Team</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email Id</th>
        <th>No Of Trophy</th>
        <th>Found In</th>
        <th>Location</th>
        <th>Team Members</th>

    </tr>
{% for data in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{data.1}}</td>
        <td>{{data.2}}</td>
        <td> {{data.3}}  </td>
        <td>{{data.4}}</td>
        <td>{{data.5}}</td>
        <td>{{data.6}}</td>
        <td> {{data.7}}</td>
        <td><a href="../user_view_members/{{data.0}}">View</a></td>


    </tr>
{% endfor %}
</table>
</div>
      </section>
      {% endblock %}